body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#cardapio, #carrinho {
    margin-top: 20px;
}

#itensCarrinho {
    margin-top: 10px;
}

.item-carrinho {
    margin-bottom: 10px;
}

#totalCompra {
    font-weight: bold;
    margin-top: 10px;
}

.sabor-item, .pedido-item, .avaliacao-item, .funcionario-item {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}
